@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Kantumruy+Pro&family=Poppins:wght@200&family=Roboto:wght@300;400;500;700&display=swap');
input{
    border: 0 transparent none;
    height: 40px;
}
textarea{
    border: 0 transparent none;
}

.submit-button{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 2px #a1c9e3 solid;
}

.title{
    font-weight: 700;
    
}

textarea:focus, input:focus{
    outline: none;
}